@charset "UTF-8";
/*-----------------------------------------
レスポンシブ
------------------------------------------*/
/*-----------------------------------------
変数
------------------------------------------*/
/*-----------------------------------------
共通部分
------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #121212;
  font-size: 1.44rem;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  max-width: 1210px;
  margin: auto;
}

.section-title {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .section-title {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
}

/*-----------------------------------------
ヘッダー
------------------------------------------*/
.header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 40px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}
@media (max-width: 767px) {
  .header {
    padding: 0 16px;
  }
}

.header__logo {
  width: 175px;
}

.hamburger-menu {
  display: block;
  width: 30px;
  height: 23px;
  position: relative;
  z-index: 30;
  cursor: pointer;
  transition: 0.4s;
}

.hamburger-menu:hover {
  opacity: 0.5;
}

.hamburger-menu span {
  width: 30px;
  height: 2px;
  background: #121212;
  position: absolute;
  left: 0;
  transition: 0.4s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
  top: 0;
}

.hamburger-menu span:nth-child(2) {
  top: 10px;
}

.hamburger-menu span:nth-child(3) {
  top: 20px;
}

/* ナビゲーションのCSSを書いてください */
#hamburger-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}

.sections {
  position: fixed;
  top: 0;
  list-style: none;
  width: 300px;
  height: 100%;
  background: #121212;
  padding: 60px 25px;
  left: -300px;
  opacity: 0;
  transition: all 0.5s;
}

.hamburger-menu-section:nth-child(1), .hamburger-menu-section:nth-child(2), .hamburger-menu-section:nth-child(3) {
  padding: 20px 0;
  border-top: 1px solid #fff;
}
.hamburger-menu-section:nth-child(3) {
  border-bottom: 1px solid #fff;
  margin-bottom: 65px;
}
.hamburger-menu-section:nth-child(n+4) {
  margin-bottom: 10px;
  line-height: 1.7;
}

/* セクション内の`a`タグのCSSを書いてください */
a {
  color: #fff;
  font-size: 1.44rem;
}

/* ナビゲーションを表示するためのCSSを書いてください */
#hamburger-navigation.active {
  opacity: 1;
  visibility: visible;
}
#hamburger-navigation.active .sections {
  left: 0;
  opacity: 1;
}

.hamburger-menu.active span:nth-child(1) {
  top: 10px;
  left: 0;
  transform: rotate(-45deg);
  background: #fff;
}

.hamburger-menu.active span:nth-child(2),
.hamburger-menu.active span:nth-child(3) {
  top: 10px;
  transform: rotate(45deg);
  background: #fff;
}

/*-----------------------------------------
video
------------------------------------------*/
#video {
  margin-top: 80px;
  width: 100%;
}
#video video {
  width: 100%;
  height: 100%;
}

/*-----------------------------------------
pickup
------------------------------------------*/
#pickup {
  padding: 100px 0;
}
@media (max-width: 767px) {
  #pickup {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

.swiper-wrapper {
  width: 100%;
  height: 271px;
}

/*-----------------------------------------
feature
------------------------------------------*/
#feature {
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  #feature {
    padding-bottom: 90px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 27px;
  row-gap: 26px;
}
@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
  }
}

.item {
  box-shadow: 0 0 20px 2px rgb(0, 0, 0);
}

.item__img {
  opacity: 0;
}

.item__content {
  padding: 30px;
  opacity: 0;
}
@media (max-width: 767px) {
  .item__content {
    padding: 16px;
  }
}

.item__img.is-inview, .item__content.is-inview {
  animation: fadein 0.5s 0.5s ease-out 1 forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.item__content-category {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.item__content-txt {
  font-size: 1.44rem;
  margin-bottom: 20px;
}

.item__content-date {
  font-size: 1.2rem;
  text-align: right;
}

/*-----------------------------------------
contact
------------------------------------------*/
#contact {
  padding: 50px 0;
  background: #121212;
  color: #fff;
  width: 100%;
}
@media (max-width: 767px) {
  #contact {
    padding: 80px 16px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .content {
    display: block;
  }
}

.contact-info {
  width: calc(50% - 70px);
  font-size: 1.44rem;
}
@media (max-width: 767px) {
  .contact-info {
    width: 100%;
  }
}

.contact-info-title {
  margin-bottom: 30px;
  font-weight: normal;
}

.contact-info-txt {
  margin-bottom: 30px;
}

.contact-form {
  width: calc(50% - 70px);
}
@media (max-width: 767px) {
  .contact-form {
    width: 100%;
  }
}

.form-parts {
  margin-bottom: 20px;
}

.form-label {
  font-size: 1.44rem;
  line-height: 1.7;
}

.form-input {
  background: #fff;
  height: 44px;
  width: 100%;
}

.form-message {
  background: #fff;
  height: 68px;
  width: 100%;
}

.btn {
  color: #fff;
  text-align: center;
  font-size: 1.44rem;
  line-height: 1.7;
  padding: 12px 80px;
  border: 1px solid #fff;
}
@media (max-width: 767px) {
  .btn {
    width: 100%;
  }
}

/*-----------------------------------------
フッター
------------------------------------------*/
.footer {
  text-align: center;
  background: #121212;
  color: #fff;
  height: 38px;
  line-height: 38px;
}
.footer p {
  font-size: 1.2rem;
}/*# sourceMappingURL=style.css.map */